* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* HEADER */
header {
    background-color: #34495E;
    padding-top: 2%;
    padding-bottom: 1%;
    border-bottom: 1px solid #212f3d;
    color: white;
}

header a {
  color: white;
}

.project {
  margin-top: 7%;
}

/* Project thumbnails */
.image-link {
  text-align: right;
}

.image-link img {
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}

@media (max-width: 550px) {
  .project .columns:nth-child(2) {
    margin: 15px 0 25px 0;
  }
}


/* New color style */
a {
  color: #34495E;
}

.button.button-primary, button.button-primary, input[type="submit"].button-primary, 
input[type="reset"].button-primary, input[type="button"].button-primary {
  background-color: #34495E;
  border-color: #34495E;
}

.button.button-primary:hover, button.button-primary:hover, input[type="submit"].button-primary:hover, 
input[type="reset"].button-primary:hover, input[type="button"].button-primary:hover, 
.button.button-primary:focus, button.button-primary:focus, input[type="submit"].button-primary:focus, 
input[type="reset"].button-primary:focus, input[type="button"].button-primary:focus {
  background-color: #212f3d;
  border-color: #212f3d;
}


/* FOOTER */
footer {
    background-color: #EDEFF1;
    /* padding-top: 2%;
    padding-bottom: 1%; */
    border-top: 1px solid #eee;
    margin-top: 5%;
}

#footer {
  border-top: 1px solid #eee;
  padding: 15px 0;
  font-size: 75%;
}

#footer div {
  text-align: right;
}

/* Override highlight color */
::selection { /* WebKit/Blink Browsers */
    background: #1ABC9C; 
    color: white;
}

::-moz-selection { /* Gecko Browsers */
    background: #1ABC9C; 
    color: white;
}


/* UTILITIES */
@media (min-width: 576px) {
  /* For desktop: */
  .mobile-only {
    display: none;
  }
}