/*General pourpose*/
.pull-up {
  margin-top: -20px;
}

.textLink {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

/*Landing Page*/
.intro-header {
  background: url(../images/background2.jpg) no-repeat center center;
  background-size: cover;
}

#photoframe {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: 5px solid #fff;
  background-image: url(../images/photoB&W2_square.jpg);
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 50%;
  background-size: 100% 100%;
}

.abcen1 {
  top: 15%;
}

/* About */
#photo {
  height: auto;
  width: 400px;
  border-radius: 2px;
  margin-top: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CV */
.educ-logo {
  margin-top: 20px;
  max-height: 100px;
  width: auto;
}

/* Publications */
.pub {
  margin: 20px 0;
}

.journal-cover {
  max-width: 120px;
  max-height: 170px;
  height: auto;
  /*box-shadow: 5px 5px 5px #888888;*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.pub-tag {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
}

.pub .lead {
  margin-top: 5px;
}

.pub-toogle {
  text-transform: uppercase;
}

.toggle-on {
  text-shadow:0 0 1px #34495e;
}

.pub-toogle:hover {
  text-shadow: none;
  cursor: pointer;
  cursor: hand;
}

.pub-collapse:hover {
  color: #1abc9c;
}

.well {
  padding: 10px 15px;
}

.abstract-expandable {
  position: relative;
  top: -20px;
}

.abstract {
  font-weight: 300;
  text-align: justify;
  text-justify: inter-word;
}

/* Footer */
.footer-banner {
  min-height: 200px;
}
